<% layout('/layouts/boilerplate') -%>

<body>
    

<div class="alert alert-primary d-flex align-items-center row col-8 mt-3 offset-3" role="alert">
    
    <div>
      <%= message %>
    </div>
  </div>
</body>